.header {
    background: url(../imgs/bg.jpg);
    background-size: cover;
  background-position: 47%;
  height: 100vh;
  background-attachment: fixed;

  &__container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}