
#root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width:1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.products__container__explain {
  background-color:#3f464f ;  
  height: 100%;
}
